@font-face {
  font-family: "TTHoves";
  font-weight: 700;
  src:
    url("./src/assets/fonts/TTHoves-Bold.woff2") format("woff2"),
    url("./src/assets/fonts/TTHoves-Bold.woff") format("woff");
}

@font-face {
  font-family: "TTHoves";
  font-weight: 600;
  src:
    url("./src/assets/fonts/TTHoves-DemiBold.woff2") format("woff2"),
    url("./src/assets/fonts/TTHoves-DemiBold.woff") format("woff");
}

@font-face {
  font-family: "TTHoves";
  font-weight: 500;
  src:
    url("./src/assets/fonts/TTHoves-Medium.woff2") format("woff2"),
    url("./src/assets/fonts/TTHoves-Medium.woff") format("woff");
}

@font-face {
  font-family: "TTHoves";
  font-weight: 400;
  src:
    url("./src/assets/fonts/TTHoves-Regular.woff2") format("woff2"),
    url("./src/assets/fonts/TTHoves-Regular.woff") format("woff");
}

@font-face {
  font-family: "TTHoves";
  font-weight: 300;
  src:
    url("./src/assets/fonts/TTHoves-Light.woff2") format("woff2"),
    url("./src/assets/fonts/TTHoves-Light.woff") format("woff");
}

body {
  font-family: "TTHoves", sans-serif;
}

/* scroll-bar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  border: 2px solid #ffffff;
  background-color: #777;
  border-radius: 8px;
}

* {
  font-feature-settings:
    "ss04" on,
    "ss05" on;
}

@media (max-width: 769px) {
  ::-webkit-scrollbar {
    width: 0px; /* Further adjusted width for even smaller screens */
  }
}
