.head-text {
    color: var(--dark, #212121);
    font-feature-settings: 'ss04' on, 'ss05' on;
    font-family: 'TTHoves', sans-serif;
    font-style: normal;
}

.blur {
    backdrop-filter: blur(1px);
}
/* text-[20px] text-[#212121] font-[400]   p-2 cursor-pointer hover:text-[#313131]  */
li{
    font-size: 20px;
    color: #212121;
    font-weight: 400;
    padding: 8px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
}

.active{
    font-weight: 600;
}